<div class="container-fluid">

<h1 class="text-center">Locations dashboard</h1>


  <div class="card">
    <div class="card-body">
      <h4 class="text-center">Total number of Locations: </h4>
    </div>
  </div>

  <div class="table-container1">
    <div class="table-table">
      <div class="table-tableheader">
        <div class="table-items1">
          <div class="table-itemtable10">
            <div class="table-tabletext10">
              <span class="table-text10 BodyBodytextRSmall">Name</span>
            </div>
          </div>
          <div class="table-itemtable11">
            <div class="table-tabletext11">
              <span class="table-text11 BodyBodytextRSmall">Occurred at</span>
            </div>
          </div>
          <div class="table-itemtable12">
            <div class="table-tabletext12">
              <span class="table-text12 BodyBodytextRSmall">Cause</span>
            </div>
          </div>
          <div class="table-itemtable13">
            <div class="table-tabletext13">
              <span class="table-text13 BodyBodytextRSmall">Remedy</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

