:host {
  display: contents;
}

.table-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.table-table {
  width: 1440px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.table-tableheader {
  gap: 78px;
  width: 1440px;
  display: flex;
  padding: 16px 48px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(245, 245, 245, 1);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-textfield-background);
}

.table-items1 {
  gap: 55px;
  width: 1076px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}

.table-itemtable10 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext10 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text10 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-itemtable11 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext11 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text11 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-itemtable12 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext12 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text12 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-itemtable13 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext13 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text13 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-tablerow1 {
  gap: 78px;
  width: 1440px;
  display: flex;
  padding: 16px 48px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(245, 245, 245, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: space-between;
}

.table-items2 {
  gap: 55px;
  width: 1076px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}

.table-itemtable14 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-icontable1 {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-ellipse11 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}

.table-notificationimportant {
  top: 7px;
  left: 8px;
  width: 24px;
  height: 24px;
  position: absolute;
}

.table-tabletext14 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text14 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-text15 {
  color: var(--dl-color-button-disabled);
  height: auto;
  font-size: 11px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 175%;
  font-stretch: normal;
  text-decoration: none;
}

.table-itemtable15 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext15 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text16 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-text17 {
  color: var(--dl-color-button-disabled);
  height: auto;
  font-size: 11px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 175%;
  font-stretch: normal;
  text-decoration: none;
}

.table-itemtable16 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext16 {
  gap: -4px;
  width: 240px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.table-text18 {
  color: var(--dl-color-primary-dark);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 175%;
  font-stretch: normal;
  text-decoration: none;
}

.table-itemtable17 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext17 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text19 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-badge-icons1 {
  gap: 72px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.table-badge1 {
  gap: 4px;
  display: flex;
  padding: 2px 6px;
  overflow: hidden;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
  background-color: var(--dl-color-textfield-background);
}

.table-ellipse12 {
  width: 8px;
  height: 8px;
}

.table-text20 {
  color: var(--dl-color-primary-dark);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 175%;
  font-stretch: normal;
  text-decoration: none;
}

.table-icons1 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}

.table-edit1 {
  width: 24px;
  height: 24px;
}

.table-delete1 {
  width: 24px;
  height: 24px;
}

.table-tablerow2 {
  gap: 78px;
  width: 1440px;
  display: flex;
  padding: 16px 48px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(245, 245, 245, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: space-between;
}

.table-items3 {
  gap: 55px;
  width: 1076px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}

.table-itemtable18 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-icontable2 {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-ellipse13 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}

.table-notificationspausedblack24dp {
  top: 7px;
  left: 8px;
  width: 24px;
  height: 24px;
  position: absolute;
}

.table-tabletext18 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text21 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-text22 {
  color: var(--dl-color-button-disabled);
  height: auto;
  font-size: 11px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 175%;
  font-stretch: normal;
  text-decoration: none;
}

.table-itemtable19 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext19 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text23 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-text24 {
  color: var(--dl-color-button-disabled);
  height: auto;
  font-size: 11px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 175%;
  font-stretch: normal;
  text-decoration: none;
}

.table-itemtable20 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext20 {
  gap: -4px;
  width: 240px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.table-text25 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-itemtable21 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext21 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text26 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-badge-icons2 {
  gap: 72px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.table-badge2 {
  gap: 4px;
  display: flex;
  padding: 2px 6px;
  overflow: hidden;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
  background-color: var(--dl-color-textfield-background);
}

.table-ellipse14 {
  width: 8px;
  height: 8px;
}

.table-text27 {
  color: var(--dl-color-primary-dark);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 175%;
  font-stretch: normal;
  text-decoration: none;
}

.table-icons2 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}

.table-edit2 {
  width: 24px;
  height: 24px;
}

.table-delete2 {
  width: 24px;
  height: 24px;
}

.table-tablerow3 {
  gap: 78px;
  width: 1440px;
  display: flex;
  padding: 16px 48px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(245, 245, 245, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: space-between;
}

.table-items4 {
  gap: 55px;
  width: 1076px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}

.table-itemtable22 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-icontable3 {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-ellipse15 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}

.table-upcoming1 {
  top: 7px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-group1 {
  top: 3px;
  left: 2px;
  width: 20px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.table-vector1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 18px;
  position: absolute;
}

.table-tabletext22 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text28 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-text29 {
  color: var(--dl-color-button-disabled);
  height: auto;
  font-size: 11px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 175%;
  font-stretch: normal;
  text-decoration: none;
}

.table-itemtable23 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext23 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text30 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-text31 {
  color: var(--dl-color-button-disabled);
  height: auto;
  font-size: 11px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 175%;
  font-stretch: normal;
  text-decoration: none;
}

.table-itemtable24 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext24 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text32 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-itemtable25 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext25 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text33 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-badge-icons3 {
  gap: 72px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.table-badge3 {
  gap: 4px;
  display: flex;
  padding: 2px 6px;
  overflow: hidden;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
  background-color: var(--dl-color-textfield-background);
}

.table-ellipse16 {
  width: 8px;
  height: 8px;
}

.table-text34 {
  color: var(--dl-color-primary-dark);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 175%;
  font-stretch: normal;
  text-decoration: none;
}

.table-icons3 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}

.table-edit3 {
  width: 24px;
  height: 24px;
}

.table-delete3 {
  width: 24px;
  height: 24px;
}

.table-tablerow4 {
  gap: 78px;
  width: 1440px;
  display: flex;
  padding: 16px 48px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(245, 245, 245, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: space-between;
}

.table-items5 {
  gap: 55px;
  width: 1076px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}

.table-itemtable26 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-icontable4 {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-ellipse17 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}

.table-upcoming2 {
  top: 7px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-group2 {
  top: 3px;
  left: 2px;
  width: 20px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.table-vector2 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 18px;
  position: absolute;
}

.table-tabletext26 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text35 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-text36 {
  color: var(--dl-color-button-disabled);
  height: auto;
  font-size: 11px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 175%;
  font-stretch: normal;
  text-decoration: none;
}

.table-itemtable27 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext27 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text37 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-text38 {
  color: var(--dl-color-button-disabled);
  height: auto;
  font-size: 11px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 175%;
  font-stretch: normal;
  text-decoration: none;
}

.table-itemtable28 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext28 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text39 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-itemtable29 {
  gap: 10px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}

.table-tabletext29 {
  gap: -4px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.table-text40 {
  color: var(--dl-color-primary-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 175%;
}

.table-badge-icons4 {
  gap: 72px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.table-badge4 {
  gap: 4px;
  display: flex;
  padding: 2px 6px;
  overflow: hidden;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
  background-color: var(--dl-color-textfield-background);
}

.table-ellipse18 {
  width: 8px;
  height: 8px;
}

.table-text41 {
  color: var(--dl-color-primary-dark);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 175%;
  font-stretch: normal;
  text-decoration: none;
}

.table-icons4 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}

.table-edit4 {
  width: 24px;
  height: 24px;
}

.table-delete4 {
  width: 24px;
  height: 24px;
}

.table-link {
  display: contents;
}

.table-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}

.table-icon1 {
  width: 24px;
  margin-right: 4px;
}

.table-text42 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}


.table-container1{
  margin-top: 5%;
}


h1{
  margin: 5%;
}
