.list-table-button{
  animation-name: fadeIn;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}


@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(-50px);
  }

  to{
    opacity: 1;
    transform: translateY(0px);
  }
}
