<app-loader [visible]="loading()"></app-loader>

@if (!loading()) {

  <div class="builder-wrapper">

    <div class="builder-card">

      <div class="builder-header">
        <h2 class="builder-name">{{ builder?.name }}</h2>
        <span class="expertise-badge">
          {{ builder?.expertise }}
        </span>
      </div>

      <div class="builder-info">

        @if(builder?.nationality){
          <div class="info-box nationality">
            <img
              [src]="'https://flagcdn.com/w40/' + countryCode + '.png'"
              class="flag-img"
              alt="flag"
            />
            <span>{{ builder?.nationality }}</span>
          </div>
        }

        <div class="info-box">
          <i class="bi bi-calendar-event"></i>
          <span>{{ builder?.yearEstablished }}</span>
        </div>

        <div class="info-box price">
          <i class="bi bi-currency-dollar"></i>
          <span>{{ builder?.price | number }} $</span>
        </div>

      </div>

      <div class="builder-actions">
        <button class="btn-update" (click)="updatePrice()">
          Update
        </button>

        <button class="btn-delete"
                (click)="showDeleteModal.set(true)">
          Delete
        </button>
      </div>

    </div>

    <app-previous-button></app-previous-button>

  </div>

}
