<nav [class.scrolled]="isScrolled" class="navbar navbar-expand-lg bg-body-tertiar">
  <div class="navbar-container">
    <div class="navbar-content">
      <a href="#" class="navbar-logo">Football app</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul *ngFor="let el of element" class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="{{el.link}}">{{el.name}}</a>
          </li>
        </ul>

      </div>

      <div class="navbar-actions">
        <select
          [value]="language"
          (change)="changeLanguage($event)"
          class="navbar-select">
          <option value="EN">English</option>
          <option value="ES">Español</option>
          <option value="FR">Français</option>
          <option value="DE">Deutsch</option>
          <option value="AR">Arabic</option>
        </select>

        <button (click)="logout()" class="navbar-logout">
          <i class="lucide lucide-log-out"></i> Logout</button>
      </div>
    </div>


  </div>
</nav>
