<nav [class.scrolled]="isScrolled" class="navbar navbar-expand-lg bg-body-tertiar">
  <div class="navbar-container">
    <div class="navbar-content">
      <a href="#" class="navbar-logo">Football app</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        @for (el of element; track el) {
          <ul class="navbar-links">
            <a class="navbar-link" aria-current="page" routerLink="{{el.link}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
            </svg>{{el.name}}</a>
          </ul>
        }

      </div>

      <div class="navbar-actions">
        <select
          [value]="language"
          (change)="changeLanguage($event)"
          class="navbar-select">
          <option value="EN">English</option>
          <option value="ES">Español</option>
          <option value="FR">Français</option>
          <option value="DE">Deutsch</option>
          <option value="AR">Arabic</option>
        </select>

        <button class="navbar-logout" data-bs-toggle="modal" data-bs-target="#confirmLogout">
          <i class="lucide lucide-log-out"></i> Logout</button>
        </div>
      </div>


    </div>
  </nav>


  <div class="modal fade" id="confirmLogout" tabindex="-1" aria-labelledby="confirmLogoutLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="confirmLogoutLabel">Confirm logout</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure to get out of this app?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" (click)="logout()">Yes</button>
        </div>
      </div>
    </div>
  </div>
